<% content_for :headerwrap do %>
  <%= render 'components/login_register' %>
<% end %>

<ul class="media-list">

    <% @items.each do |date, item_arr| %>
    <span class="item_date"><%= date %> </span>
    <%= render item_arr %>
    <% end %>
</ul>
