<% content_for :headerwrap do %>
  <%= render 'components/login_register' %>
<% end %>
    <div class="row" style="padding: 0px 0px 15px 15px;">
        <ul class="media-list" >

            <% @items.each do |date, item_arr| %>
            <span class="item_date"><%= date.strftime("%A, %b %d") %> </span>
            <%= render item_arr %>
            <% end %>
        </ul>
    </div>
    <span class="row">Proudly MadeinJLM by <a href="http://www.twitter.com/yoavanaki">@yoavanaki</a> and <a href="http://www.twitter.com/amitaymolko">@amitaymolko</a>. contact us at yoav@makerloop.co :-)</span>