// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.item {
  margin-top: 20px;

  small {
    color: #BBB;
  }

  a {
    color: #000000;
    background-color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
      background-color: #000000;
    }
  }
}

.item_date {
    padding: 0; 
	margin-bottom: 12px; 
	font-family: 'Merriweather', serif;
	font-weight: 500;
	font-size: 18px; 
	line-height: 24px;
	color: #384452; 
	margin-top: 10px; 
    text-decoration: underline;
}

.media {
    margin-top: 20px;
}